<section class="splash-screen">

<p class="notice flex-center" style="color: green"><%= notice %></p>
<p class="alert flex-center" style="color: red"><%= alert %></p>

<h2 class="big-heading">XpenseList</h2>

<div>
<%= link_to "Log in", new_user_session_path, class: "log-in" %>
<%= link_to "Sign up", new_user_registration_path, class: "sign-up" %>
</div>

</section>