/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*::before,
*::after {
  margin: 0;
  box-sizing: inherit;
}

.notice,
.alert {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.notice.other {
  margin-top: 7rem;
  margin-bottom: 0.5rem;
}

/* .nav-item {
  margin-right: 1rem;
}

.nav-link {
  color: #333;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  background-color: #333;
  color: #fff;
} */

/* main {
    margin: 0 auto;
    padding: 0 10%;
  }

  section {
    margin-top: 80px;
  } */
