@import 'mixins';

.login-screen {
    margin-top: 0;
    @include flexCenter;
    justify-content: flex-start;
    flex-direction: column;

    .field:first-of-type {
        margin-top: 3rem;
    }

    .field {
       
        @media (min-width: 320px){
            // padding: 1rem 2.75rem;
            }
          
        @media (min-width: 480px){
            // padding: 1rem 2.50rem;
            }
          
        @media (min-width: 768px){
            // padding: 1rem 2.25rem;
            }
          
        @media (min-width: 1080px){
            // padding: 1rem 2.00rem;
            }
          
        @media (min-width: 1200px){
            // padding: 1rem 1.75rem;
            }
    }

    input[type=email],
    input[type=password] {
        @include field;
        @media (min-width: 320px){
            padding: 1.25rem 2rem 1.25rem 0.5rem;
            }
          
        @media (min-width: 480px){
            padding: 1.25rem 3rem 1.25rem 0.5rem;
            }
          
        @media (min-width: 768px){
            padding: 1.25rem 4rem 1.25rem 0.5rem;
            }
          
        @media (min-width: 1080px){
            padding: 1.25rem 5rem 1.25rem 0.5rem;
            }
          
        @media (min-width: 1200px){
            padding: 1.25rem 6rem 1.25rem 0.5rem;
            }
    }

    input[type=email]{
        border: 1px solid var(--text-light);
    }

    input[type=password]{
        border-top: none;
        
    }

    .actions {
        position: fixed;
        top: 0;
        right: 0;
        margin: 1rem;
        padding: 1rem;

        @media (min-width: 320px){
            // padding: 1rem 2.75rem;
    
            }
          
        @media (min-width: 480px){
            // padding: 1rem 2.50rem;
            }
          
        @media (min-width: 768px){
            display: flex;
            position: static;
            margin: 1rem 0;
            padding: 0;

            input[type=submit] {
                @include Button;
                color: var(--white);
                margin: 0;
            }

            }
          
        @media (min-width: 1080px){
            // padding: 1rem 2.00rem;
            }
          
        @media (min-width: 1200px){
            // padding: 1rem 1.75rem;
            }
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: inherit;
        position: relative;
        margin-top: 1rem;
      
        &:hover,
        &:focus {
          color: var(--text);
        }

        @media (min-width: 768px){
            // padding: 1rem 2.25rem;
            margin-top: 0rem;
            }
    }

    .back {
        @include back;
    }
}