@import "mixins";

.nav {
  position: fixed;
  z-index: 5;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  color: var(--white);
  width: 100%;
  height: var(--navbar-height);

  h4 {
    text-transform: uppercase;
    font-size: clamp(26px, 5vw, 30px);
    margin-top: 5px;
  }

  h5 {
    text-transform: uppercase;
    font-size: clamp(18px, 4vw, 22px);
    margin-top: 5px;
  }

  .actions {
    @include action;
    text-decoration: none;
    color: var(--white);
    margin: 0.5rem;
    background-color: transparent;
    border: none;
    font-size: var(--fs-m);
    border: 1px solid var(--white);
    border-radius: var(--border-radius);

    &:hover,
    &:focus {
      border: 1px solid var(--second);
      background-color: var(--second);
    }

    @media (min-width: 320px) {
      // padding: 1rem 2.75rem;
    }

    @media (min-width: 480px) {
      // padding: 1rem 2.50rem;
    }

    @media (min-width: 768px) {
      // display: flex;
      // position: static;
      // margin: 1rem 0;
      // padding: 0;
    }

    @media (min-width: 1080px) {
      // padding: 1rem 2.00rem;
    }

    @media (min-width: 1200px) {
      // padding: 1rem 1.75rem;
    }
  }
}

.expense {
  height: var(--navbar-height2);
  align-items: start;
  .actions.delete {
    margin: 3rem 9rem 0 0;
  }

  .actions.edit {
    margin: 3rem 0.5rem 0 0;
  }
}
