@import "mixins";

.splash-screen {
  @include flexCenter;
  flex-direction: column;
  //  height: 100vh;
  // gap: 2rem;

  .log-in {
    @include Button;
    color: var(--white);
    padding: 1rem 2rem;
    background-color: var(--main);
    border: 1px solid var(--main);
    text-transform: uppercase;
    @media (min-width: 320px) {
      // padding: 1rem 2.75rem;
    }

    @media (min-width: 480px) {
      // padding: 1rem 2.50rem;
    }

    @media (min-width: 768px) {
      // padding: 1rem 2.25rem;
    }

    @media (min-width: 1080px) {
      // padding: 1rem 2.00rem;
    }

    @media (min-width: 1200px) {
      // padding: 1rem 1.75rem;
    }
  }

  .sign-up {
    @include Button;
    margin-top: 0.5em;
    padding: 1rem 3rem;
    border: 1px solid transparent;
    color: var(--text-light);
    text-transform: uppercase;
    background-color: transparent;
  }
}
