@import "mixins";

.splash-screen {
  @include flexCenter;
  flex-direction: column;

  .log-in {
    @include Button;
    color: var(--white);
    padding: 1rem 2rem;
    background-color: var(--main);
    border: 1px solid var(--main);
    text-transform: uppercase;
  }

  .sign-up {
    @include Button;
    margin-top: 0.5em;
    padding: 1rem 3rem;
    border: 1px solid transparent;
    color: var(--text-light);
    text-transform: uppercase;
    background-color: transparent;
  }
}
