<section class="add-expense">

<div class="nav">
<h5>Add Expense</h5>
</div>

<%= render "form", expense: @expense %>

<br>

<%= link_to "", @group, class: 'back'%>


<%= link_to "", groups_path, class: 'back' %>

</section>