
<section class="single-category">
<div class="nav">
<h5>Expense</h5>
</div>

<p style="color: green"><%= notice %></p>

<%= render @expense %>

<div>
<%= link_to "",group_path(@group), class: 'back'%>
</div>

</section>
